DATABASE_URL="postgres://829f56d07a8fde8aae38dc93264599f50f43a01a989699d681bb6901e810d559:sk_29M_LuLRsy8QrnmaHPbMq@pooled.db.prisma.io:5432/postgres?sslmode=require"

PORT=5006
GRPC_PORT=50056

NODE_ENV=development

JWT_SECRET=upi-service-secret
